#page3 {
    background-color:sienna;
    font-family: cursive;
}

nav {
    background-color: rgb(202, 174, 148);
    font-family:cursive;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor:pointer; 
    
}

.button{border:chocolate;
        text-align: center;
        display: inline-block;
        outline-style: double;
        outline-offset: 4px;
}

#page3nav {
    padding:20pt;
    background-color:sienna;
    height: 20vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    font-size: 3.5em;
    align-items: center;
}
#pizzapics {
    background-color:sienna;
    height:30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}
#vid {
    background-color:sienna;
    display:grid;
    grid-template-columns: 1fr;
    align-items:center;
    justify-items:center;
}
header > h1{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: auto;
    font-style: italic;
    color: rgb(65, 24, 24);
}
:hover.button{
    font-size: 18.5px;
    background-color: rgb(165, 135, 107);
}
:active.button{
    font-size: 10px;
    background-color: darkgreen;
}
:visited.button{
    color: darkorchid;
}
:link.button{
    color:indigo;
}
div a {color: indigo;}

span > p{
    font-style: italic;
    font-size: 16px;
}
p+a {color: lawngreen;
}
